.Flowers_Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .5rem;
}

.Flowers_Categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Flowers_Title {
    padding: 1rem;
}

.Flowers_subCategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}