.btn {
    color: var(--cor-branca);
    background-color: var(--cor-primaria);
    font-size: 1rem;
    padding: 0.5em 1em;
    text-decoration: none;
    gap: .5rem;
    border: none;
    border-radius: .7rem;
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
}

.Icon {
    font-size: 1.5rem;
}

.text {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--cor-texto);
    transition: ease-in 0.4s;
}