.btn {
    color: #fff;
    background-color: var(--cor-primaria);
    padding: 10px 12px;
    transform: 0.5s;
    border: none;
    border-radius: 15px;
}

.btn:hover {
    cursor: pointer;
}

.Icon {
    font-size: 1.5rem;
}