.btn {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    padding: 0.7em 1.7em;
    transition: .5s;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
}

.btn:hover {
    color: #ffbb33;
}