* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
    --cor-primaria: #f69;
    --cor-secundaria: #f8acc4;
    --cor-fundo: #dfc6ce;
    --cor-texto: #333;
    --cor-branca: #fff;
    --sombra-padrao: 0 2px 5px #0000001a;
}

html, body, #root {
  background-color: #efefef;
  height: 100%;                     
}