.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.Register_Container {
    background-color: var(--cor-branca);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--sombra-padrao);
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 1rem;
}

.Register_Container img {
    width: 300px;
}

.Register_Container h2 {
    color: var(--cor-primaira);
    text-align: center;
}